.exw-info-card-item-welcome {
  height: 112px;
  margin-bottom: 20px;
  padding-top: 8%;
  padding-left: 8%;

  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  color: #98A2B5;

  .text1{
    display: block;
    font-size: 24px;
    margin-bottom: 14px;
  }

  .text2{
    font-size: 14px;
  }
}
