.exw-info-card-item {
  height: 160px;
  margin-bottom: 20px;
  position: relative;

  .info-card-layout{
    width:50%;
    height:100%;
    float:left;
    .info-card-layout-img{
      width: 75%;
      max-width: 75px;
    }

  }

  .info-card-layout-right{
    width:50%;
    height:100%;
    float:left;
    display:block;
    .info-card-layout-text{
      width:78px;
      height:70px;
      color: #98A2B5;
      white-space: nowrap;
      font-weight: 400;

      .card-text1{
        font-size: 14px;
      }
      .card-text2{
        font-size: 32px;
        text-align: left;
      }
      .card-text3{
        color: #429F49;
        font-size: 12px;
      }
      .card-text4{
        color: #F54C3F;
        font-size: 12px;
      }
    }
  }

}
