/**building-businesses Start**/
.my-exhibition {
  &-show-view {

    .sub-title{

      background-color: rgba(250, 229, 190, 1);
      margin-bottom: 10px;
      margin-top: 10px;
      padding:10px;

      span{
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #895F14;
      }
    }

    > .item {
      width: 80%;
      color: #000;
      ul {
        li {
          line-height: 30px;
          width: 50%;
          > * {
            vertical-align: top;
            display: inline-block;
          }

          strong {
            color: #98A2B4;
            min-width: 120px;
          }
          em {
          }
        }
      }
    }
  }

}

/**building-businesses  End**/
