/**building-businesses Start**/
.building-businesses {
  &-show-view {
    > .item {
      width: 80%;
      color: #000;
      ul {
        li {
          line-height: 30px;
          width: 50%;
          > * {
            vertical-align: top;
            display: inline-block;
          }

          strong {
            color: #98A2B4;
            min-width: 120px;
          }
          em {
          }
        }
      }
    }
  }

}

/**building-businesses  End**/