/**_override Start**/

.ant-menu-dark {
  background: rgba(235, 240, 244, 1);

  &.ant-menu-inline {
    &-collapsed{
      width: auto;
    }
  }

  .ant-menu-inline {
    &.ant-menu-sub {
      background: #303845;
    }
  }


  .ant-menu-submenu {
    border-bottom: 1px solid #000;
  }


  .ant-menu-item-group {
    padding-left: 10px;
    &-list {
      margin-left: -10px;
    }
    &-title {
      @extend .c-gray;
    }
  }

  .ant-menu-item {
    //background: #2F3846;


    &,
    .ant-badge {
      @extend .c-gray, .f14;
    }
    &-selected {
      > *,
      .ant-badge {

      }
    }
  }

}

.ant-layout-header {
  background: #fff  !important;
  padding: 0 !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;

  &,
  a {
    font-size: 14px;
    color: #404453;
  }
}

.ant-badge {
  color: #fff;
}

.ant-layout {
  background: #fff !important;
}

.ant-layout-sider {
  background: #fff !important;
}

.ant-layout-sider-children{
  .bg-blue-a{
    background-color: #fff !important;
  }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected{
  background-color: rgba(255, 255, 255,1) !important;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #0075C2;
}

.ant-menu-inline .ant-menu-item{
  margin-top: 0 !important;
  float: right !important;
  width: 90% !important;
}
/**_override  End**/
