/**_override Start**/

.ant-menu-dark {
  background: rgba(235, 240, 244, 1);
  .ant-menu-item {
    &:hover {
      color: #187AC2;
    }
    &-selected {
      background-color: rgba(255, 255, 255, 1) !important;
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      color: #0075C2;
    }
    & {
      @extend .c-gray, .f14;
    }
  }
}

.ant-layout-header {
  background: #fff;
  padding: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  &,
  a {
    font-size: 14px;
    color: #404453;
  }
}

.ant-layout {
  background: #EBF0F4;
  &-content {
    background: #fff;
  }
  &-sider {
    background: #ebf0f4;
  }
}

/**_override  End**/
